<h1>Listing articles</h1>
<p id="notice"><%= notice %></p>
<table>
 <tr>
 <th>Title</th>
 <th>Contents</th>
 <th>Author</th>
 </tr>
<% @articles.each do |article| %> 
 <tr>
 <td><%= article.title %></td>
 <td><%= article.body %></td>
 <td><%= article.user.name %></td>
 </tr>
<% end %>
</table>
<br />
<%= link_to 'New Article', new_article_path %>

